.container {
    padding: 5rem 2rem 2rem 10rem;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.add-todo-button{
    cursor: pointer;
}
.add-todo-button:hover{
    color: #DC4B3E;
}