
.container {
    width: 100%;
    max-width: 17%;
    background-color: #FCFAF8;
    padding: 2rem
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.action-list li {
    margin: 20px 0;
}

.action-list li:first-child {
    color: #DC4B3E;
    font-size: 16px;
    font-weight: 400;
}